node_modules
.firebase/
.firebaserc
build/
firebase.json

local-backups/src/pages/Author.jsx
local-backups/src/components/home/TopSellers.jsx
local-backups/src/components/home/HotCollections.jsx
local-backups/src/components/home/LiveAuctions.jsx
local-backups/src/components/home/ExploreItems.jsx
local-backups/src/components/skeleton/Skeleton.jsx
local-backups/src/components/footer/Footer.jsx
local-backups/src/components/header/Header.jsx
local-backups/src/components/common/CountdownTimer.jsx
local-backups/src/components/author/AuthorItems.jsx
local-backups/src/components/author/AuthorProfile.jsx
local-backups/src/components/author/AuthorTopSellers.jsx
local-backups/src/components/item/ItemDetails.jsx
local-backups/src/components/item/NewItem.jsx
local-backups/src/components/item/ItemBid.jsx
local-backups/src/pages/Explore.jsx
local-backups/src/index.css
local-backups/home.jsx
local-backups/src/App.jsx
src/pages/ItemDetails.jsx
